/*-- scss:defaults --*/
// the .hl class is outsourced to hl.css, as we need a path in there (which does not really work in the scss file, see https://github.com/quarto-dev/quarto-cli/discussions/5694#discussioncomment-7081124

// Custom colours and variables
$jet: #131516;
$accent: #107895;
$accent2: #9a2515;
$right-arrow: "\2192"; // Unicode character for right arrow

// fonts
@import url(https://fonts.googleapis.com/css?family=Lato:200,200i,300,300i,350,350i,400,400i);
@import url(https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,350,350i,400,400i);
$font-family-sans-serif: "Lato", sans-serif !default;
$presentation-font-size-root: 30px;

$presentation-heading-font: "Nunito", sans-serif !default;
$presentation-heading-color: $jet !default;
$presentation-heading-font-weight: 200;
//$presentation-heading-line-height: 2;
//$presentation-block-margin: 28px;

// colors
//$body-bg: #f0f1eb !default;
$body-color: $jet !default;
$link-color: $accent !default;
$selection-bg: #26351c !default;


/*-- scss:rules --*/

.reveal a {
  line-height: 1.5em;
}

.reveal p {
  font-weight: 300;
  margin-top: 1.25em;
}

// title and headings

#title-slide {
  text-align: left;

  .title {
    color: $body-color;
    font-size: 1.4em;
    font-weight: 350;
  }

  .subtitle {
    color: $accent;
    font-style: italic;
    margin-top: 0em;
  }

  .institute,
  .quarto-title-affiliation,
  .quarto-title-author-email {
    font-style: italic;
    // font-size: 80%;
    // color: #7F7F7F;
  }

  .author,
  .quarto-title-author-name {
    color: $body-color;
  }

  .quarto-title-authors {
    display: flex;
    justify-content: left;

    .quarto-title-author {
      padding-left: 0em;
      padding-right: 0em;
      width: 100%;
    }
  }

  .license {
    color: $accent;
    font-style: italic;
    margin-top: 1em;
  }

}


.reveal h1 {
  font-weight: 350;
  font-size: 2em;
}

.reveal h2 {
  font-weight: 350;
  font-size: 1.7em;
}

.reveal h3 {
  color: $accent;
  font-style: italic;
  font-weight: 300;
  font-size: 1.1em;
}

.reveal h4 {
  color: $accent2;
  font-weight: 350;
  margin-top: 1.25em;
}

// alerts etc.

.alert {
  color: $accent2;
}

.fg {
  color: var(--col, $jet);
}

.bg {
  background-color: var(--col, #fff);
  padding: 0.1em;
  border-radius: 5px;
  display: inline-block;
}


// lists

// Unordered lists

.reveal ul {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: mix($accent, white, 70%);
  }
}

.reveal ul ul {
  list-style: none;
  font-size: 85%;

  li:before {
    content: "–";
    color: mix($accent, white, 60%);
    display: inline-block;
    width: 0.5em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

.reveal ul ul ul {
  list-style: none;
  font-size: 75%;

  li:before {
    content: $right-arrow;
    color: mix($accent, white, 60%);
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    margin-right: 0.5em;
  }
}

// Ordered lists

.reveal ol {
  font-weight: 300;
  padding-left: 16px;

  li::marker {
    color: $accent;
  }
}

// Move "hamburger" menu button to top right

.reveal .slide-menu-button {
  position: fixed;
  top: 6px;
  right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-menu-button > * {
  pointer-events: auto;
}


// Same for chalkboard buttons (with an offset)

.reveal .slide-chalkboard-buttons {
  position: fixed;
  top: 12px;
  right: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  pointer-events: none;
}

.reveal .slide-chalkboard-buttons > * {
  pointer-events: auto;
}

// Beamer-style button link environment

.button {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: $accent;
  border: 1px solid $accent;
  color: #fff !important;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

.button::before {
  content: "▶";
  margin-right: 5px;
}

// tables

.reveal table {
  // height: auto; /* Adjust table width to fit content up to the available slide space */
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 0.8em;
}

.reveal table th,
.reveal table td {
  border: none; /* Remove internal row lines */
  padding: .23em; /* Adjust padding as needed */
  text-align: left; /* Adjust text alignment as needed */
  font-weight: lighter; /* Lighter font weight for main table text */
}

/* Adds a bottom border to the table header row for distinction */
.reveal table thead th,
.reveal .slides table tr:last-child td,
.reveal .slides table {
  border-bottom: 2px solid #D3D3D3; /* Dark grey color for the bottom border */
}

/* Make column headers bold */
.reveal table thead th {
  font-weight: bold;
}

/* Styling table captions */
.reveal table caption {
  color: #666666; /* Dark grey color for the caption */
  font-variant: small-caps; /* Use small caps for the caption text */
}

// Special catch for etable environment to ensure these table images
// don't overflow the slide.
// See: https://lrberge.github.io/fixest/articles/etable_new_features.html

.etable {
  width: 100%;
  height: calc(100% - 3em); /* Adjust 3em based on the height of your header, if necessary */
  display: flex;
  align-items: center;
  justify-content: center;
}

.etable img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}


// FS additions

// very small font size for long text
.reveal .smaller {
  font-size: 85%;
}

// very small font size for long text
.reveal .smallest {
  font-size: 70%;
}


// new class: Tables with grid lines

.table-grid table {
  border-collapse: collapse;
  width: 100%;
}

.table-grid th, td {
  border: 1px solid #868585 !important;
  text-align: left;
  padding: 8px;
}

.table-grid tr:nth-child(even) {
  background-color: #f9f9f9 !important;
}

.table-grid th {
  background-color: #6a6969;
  color: white;
  text-align: center !important;
}

// Zoom levels for mermaid and Graphviz diagrams: Define the height or width of the graph
// Use with:
// ::: {.svg-h100 style="text-align: center;"}

/* Define the height */
.svg-h50 svg {
  max-height: 50px !important;
  max-width: auto;
}

.svg-h100 svg {
  max-height: 100px !important;
  max-width: auto;
}

.svg-h200 svg {
  max-height: 200px !important;
  max-width: auto;
}

.svg-h300 svg {
  max-height: 300px !important;
  max-width: auto;
}

.svg-h400 svg {
  max-height: 400px !important;
  max-width: auto;
}


/* Define the width */

.svg-w50 svg {
  max-width: 50px !important;
  max-height: auto;
}

.svg-w100 svg {
  max-width: 100px !important;
  max-height: auto;
}

.svg-w200 svg {
  max-width: 200px !important;
  max-height: auto;
}

.svg-w300 svg {
  max-width: 300px !important;
  max-height: auto;
}

.svg-w400 svg {
  max-width: 400px !important;
  max-height: auto;
}

.svg-w500 svg {
  max-width: 500px !important;
  max-height: auto;
}

.svg-w600 svg {
  max-width: 600px !important;
  max-height: auto;
}

.svg-w800 svg {
  max-width: 800px !important;
  max-height: auto;
}